* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(146, 165, 156);
    /* background-color: rgb(199, 181, 170); */
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 15% 0% 15%;
}

button {
    background: white;
    cursor: pointer;
    border: solid grey 1px;
    height: 30px;
    width: 40px;
    border-radius: 0px 5px 5px 0px;
    float: right;
}

input {
    border: solid grey 1px;
    height: 30px;
    background: white;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    text-decoration: none;
}

input:focus {
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}

button:focus {
    outline: none;
}

i.fa.fa-search::before {
    background: white;
    color: grey;
}

.results {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* border: solid black 1px; */
    padding-top: 20px;
}

h1 {
    padding-bottom: 10px;
    font-weight: 350;
}

h4 {
    padding-top: 10px;
}


